* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #111;
  cursor: none;
  overflow: hidden;
}

.scorpion-cursor {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

.body {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  z-index: 5;
}

.claw {
  position: absolute;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  top: 10px;
  z-index: 4;
}

.claw-left {
  left: 0;
}

.claw-right {
  right: 0;
}

.tail {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}
